<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title></title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<style>
    .selected{
        border: 2px blue solid;
        border-radius: 5px;
    }
    img{
      height: 200px;
    }


</style>
<body>
    <main class="container">
        <div class="row text-center container">
            <div class="card col" style="width: 18rem">
                <img src="img/2000 Kubota micro tracteur kubota.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">2000 Kubota micro tracteur kubota</h5>
                  <a href="#" class="btn btn-primary">Kiválasztás</a>
                </div>
              </div>
              <div class="card col" style="width: 18rem;">
                <img src="img/Honda.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Honda Jaz</h5>
                  <a href="#" class="btn btn-primary">Kiválasztás</a>
                </div>
              </div>
              <div class="card col" style="width: 18rem;">
                <img src="img/fiat.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">FIAT AUTOMOBILE</h5>
                  <a href="#" class="btn btn-primary">Kiválasztás</a>
                </div>
              </div>
        </div>
        <form action="/rendeles" method="post" class="row">
          <div class="form-group col align-self-center">
            <label for="nev" class="">Név: </label><br>
            <input type="text" name="nev" id="" value="<%=data.nev%>"><br>
            <label for="szamlazasi">Számlázási cím</label><br>
            <input type="text" name="szamlazasi" id="" value="<%=data.szamlazasi%>"><br>
            <label for="szallitasi">Számlázási cím</label><br>
            <input type="text" name="szallitasi" id="" value="<%=data.szallitasi%>"><br>
            <label for="kuponkod">Kuponkód</label><br>
            <input type="text" name="kuponkod" id="" value="<%=data.kuponkod%>"><br>
          </div>
          <div class="form-group col align-self-center">
            <p>Bankkártya adatok:</p>
            <label for="szam">Kártyaszám:</label><br>
            <input type="text" name="szam" id="" value="<%=data.szam%>"><br>
            <label for="lejarat">Lejarati dátum</label><br>
            <input type="text" name="lejarat" id="" value="<%=data.lejarat%>"><br>
            <label for="kod">Biztonsági kód</label><br>
            <input type="text" name="kod" id="" value="<%=data.kod%>"><br> 
            <% for (let e of errors){%>
              <p style="color: red;"><%= e %></p>
          <%}%>
            <input class="btn btn-primary" type="submit" value="Submit" id="">
          </div>
        </form>
    </main>
    
</body>
</html>
